
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>
    <div> 
        <form action="~/Admin/Home/DangNhap" method="post">
            <label>Username:</label>
            <input name="username" />
            <br />
            <label>Passwork:</label>
            <input name="passwork" />
            <br />
            <input type="submit" value="Đăng Nhập" />
        </form>
    </div>
</body>
</html>
