
@{
    ViewBag.Title = "UploadFiles";
}

<h2>UploadFiles</h2>

@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFiles", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}

