
@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>
       Đơn hàng đã được gửi đi
    </p>
    <p>
        @Html.ActionLink("Tiếp tục mua bán","Artwork","TestHome")
    </p>
</div>