@{
    ViewBag.Title = "becomeartist";
}
<body>
    <h2>Trở thành họa sĩ</h2>
    @using (Html.BeginForm("becomeartist", "customers", FormMethod.Post, new { @id = "Form1" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Bạn muốn thuê triển lãm trong bao lâu ?</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    <label>1 month</label>
                    <input type="radio" name="expire" value="1" required />
                    <label>12 month</label>
                    <input type="radio" name="expire" value="12" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xác Nhận" class="btn btn-default" />
                </div>
            </div>
        

            @Html.ActionLink("Back to Login", "Login", "customers")
        </div>
    }

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script type="text/javascript">
            $("body").on("submit", "#Form1", function () {
                var ele = document.getElementsByName('expire');
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].checked)
                        return confirm("Bạn xác nhận muốn đăng ký " + ele[i].value + " tháng ?");
                }

            });
        </script>

       
@if(ViewBag.Message != null)
{
    <script type="text/javascript">
             window.onload = function () {
                alert('@ViewBag.Message');
            };

        </script>
    }
</body>
