@model IEnumerable<Gallery_art_3.Models.artwork> 

@{
    ViewBag.Title = "Index";
}
<style>
    
</style>

<h2>Index</h2>
@foreach (var item in Model)
            {
                <div class="display">
                    <div>@Html.DisplayFor(modelItem => item.artist.customer.FullName)</div>
                    <div>@Html.DisplayFor(modelItem => item.Title)</div>
                    <div>@Html.DisplayFor(modelItem => item.Price)</div>
                    <div>@Html.DisplayFor(modelItem=>item.category)</div>
                    <div><img src="~/@item.img_path" /></div>

                </div>
            }
